[submodule "CobraVerifier"]
	path = CobraVerifier
	url = git@github.com:DBCobra/CobraVerifier.git
[submodule "CobraBench"]
	path = CobraBench
	url = git@github.com:DBCobra/CobraBench.git
[submodule "CobraLogs"]
	path = CobraLogs
	url = git@github.com:DBCobra/CobraLogs.git
